.Cart {
	width: 100%;
}

.Cart__sum {
	position: sticky;
	bottom: 0px;
	background: #fff;
	font-weight: 700;
}

.Cart__sum :last-child{
	padding-left: 40px;
}

.Cart__empty {
	padding: 40px 20px;
	font-size: 20px;
	text-align: center;
}
