.TopPanel {
	display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 20px;
}

.TopPanel__basket {
	margin-left: 20px;
	padding: 0px;
}

.TopPanel__link {
	font-size: 18px;
  color: #0087e9;
}

.TopPanel__link:hover {
	text-decoration: none;
}
