/* Пункт списка */
.Item:not(tr){
  display: flex;
  align-items: center;
  padding: 20px;
  column-gap: 20px;
}

tr.Item{
	text-align: right;
}

.Item > td{
  padding: 20px 10px;
}

.Item > td:first-child{
  padding-left: 20px;
}

.Item > td:last-child{
  padding-right: 20px;
  padding-left: 40px;
	width: 50px;
}

td.Item__title {
  width: 72%;
	text-align: left;
}

td.Item__price{
	width: 90px;
}

.Item__price{
  margin-left: auto;
}
